@using GptWeb.ViewModels
@model HomeViewModel

@{
    ViewBag.Title = "Home";
}

<h1>@Model.WelcomeMessage</h1>

<!-- Link to the 


page -->

@if (!User.Identity.IsAuthenticated)
{
@Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-link" })
}
else
{
    <form action="@Url.Action("Logout", "Account")" method="post">
        @Html.AntiForgeryToken()
        <button type="btn">Logout</button>
    </form>
}

<!-- ... rest of your home page ... -->
