@using GptWeb.ViewModels
@model HomeViewModel

@{
    ViewBag.Title = "Home";
}

<h1>@Model.WelcomeMessage</h1>

<!-- Link or button to open the modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#universalModal">
    Open Modal
</button>

<!-- ... rest of your home page ... -->
