@using GptWeb.Models
@using GptWeb.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@model HomeViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Home";
}

<h2>@Localizer["Data"]</h2>


<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Date Asked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserPrompts)
        {
            <tr>
                <td>@item.Question</td>
                <td>@item.Answer</td>
                <td>@item.DateAsked</td>
            </tr>
        }
    </tbody>
</table>

